


h1
{
    background-color:blueviolet;
    color: white;
    text-transform: uppercase;
}


.custc
{
    color:yellow;
    background-color: red;
    font-size: large;
}

.hcl
{
    font-style: italic;
    
}

